.projects-section {
  margin-top: 86px;
}

.projects-section__title {
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 1.75rem;
  color: var(--card-cream);
  margin-bottom: 40px;
}

.projects-section__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
}
